#outer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

#inner {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#image {
	display: flex;
	justify-content: center;
	width: 100%;
}

#min-desc {
	background-color: var(--card-background);
	padding: 10px;
	width: 40%;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

#desc {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--section);
	width: 100%;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 15px;
}

#icons {
	display: flex;
	margin: 5px;
}

.icon {
	width: 40px;
	height: 40px;
	margin: 0 3px;
	transition: transform 200ms;
}

.icon:hover {
	transform: scale(1.7);
}

.link {
	width: 40px;
	height: 40px;
}

img {
	width: 80%;
}

h3 {
	margin-top: 10px;
	padding: 10px;
}
i {
	padding: 10px;
}
