<div id="outer">
	<div id="min-desc">
		<div id="image">
			<img src="{{ imgsrc }}" alt="project-image" />
		</div>
	</div>
	<div id="desc">
		<h3>
			{{ title }}
		</h3>
		<p>
			{{ desc }}
		</p>
		<div id="icon-container">
			<div id="icons">
				<img
					*ngFor="let icon of icons"
					class="icon"
					src="{{ icon.iconSrc }}"
					alt="{{ icon.alt }}"
				/>
			</div>
			<div id="links">
				<button class="btn project-btn" (click)="openProject(projectId)">
					Learn More
				</button>
			</div>
		</div>
	</div>
</div>
