<main>
	<header>
		<img src="../../assets/cvkuva.jpg" alt="ptf-image" />
		<h1>Eemi Salonen</h1>
	</header>

	<section>
		<p>
			I am a student at Jyväskylä University of Applied Sciences, studying to
			become a Full Stack Developer. Currently on my third and final year, and
			looking for a job practice to improve my skills and proceed to a full time
			job!
		</p>
	</section>

	<section>
		<div id="projects">
			<app-card
				imgsrc="../../assets/touras.PNG"
				title="Tournament Assembly"
			></app-card>
		</div>
	</section>
</main>
