<main>
	<header>
		<h1>Eemi Salonen</h1>
		<h1 id="job-title">Aspiring Full Stack Developer</h1>
		<p>
			I am a student at Jyväskylä University of Applied Sciences, studying to
			become a Full Stack Developer. Currently on my third and final year, and
			looking for a job practice to improve my skills and proceed to a full time
			job!
		</p>
		<div id="buttons">
			<button (click)="navigate(projectsPath)" class="btn project-btn">
				My Projects
			</button>
			<button (click)="navigate(contactPath)" class="btn contact-btn">
				Contact Me
			</button>
		</div>
	</header>
</main>
