<main>
	<div id="container">
		<app-card
			imgsrc="../../assets/touras.PNG"
			title="Tournament Assembly"
			minDesc="Tournament creation application"
			desc="Tournament Assembly is an tournament creation application, that allows
                users to create various types of tournaments, such as leagues, playoffs
                and groups. It was created with a team of five students and I worked on
                the project as the Product Owner, technical supervisor and tester. This
                allowed me to learn many useful skills in many different fields."
			ghLink="https://github.com/jamktiko/TournamentAssembly-svelte"
			[icons]="tourasIcons"
			[projectId]="0"
		></app-card>
		<app-card
			imgsrc="../../assets/flagguesser.PNG"
			title="Flagguesser"
			minDesc="Country flag guessing game"
			desc="Flagguesser is a game in which you guess country flag based on a selected continent. It tracks your score based on an user account that is stored in MongoDB. 
                This project was my first Full Stack Develoment project."
			ghLink="https://github.com/EemiSalonen/flagguesser"
			[icons]="flagguesserIcons"
			[projectId]="1"
		></app-card>
	</div>
</main>
