#bg-img {
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-image: url("../assets/bg-img.jpg");
	background-size: cover;
}

#bg-img:after {
	content: "";
	position: absolute;
	backdrop-filter: blur(8px) brightness(20%) grayscale(100%);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
