main {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	width: 100%;
}

main > * {
	z-index: 1;
}

header {
	display: flex;
	align-items: center;
	margin-top: 20px;
	margin-left: 20px;
}

#imgs {
	display: flex;
	margin-bottom: 20px;
}

#desc {
	border-bottom: var(--contrast) solid 2px;
	border-right: var(--contrast) solid 2px;
}

#container {
	margin-top: 30px;
	grid-column: 2;
	border-top: var(--contrast) solid 2px;
	border-left: var(--contrast) solid 2px;
	height: 100%;
	padding: 10px;
}

#title {
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	transition: 150ms transform;
}

#title:hover {
	transform: scale(1.05);
}

.img-container {
	display: flex;
	flex-direction: column;
}

img {
	width: 200px;
	height: 300px;
}

.img-container > p {
	font-size: 0.8em;
	cursor: pointer;
	transition: 100ms transform;
}

.img-container > p:hover {
	transform: scale(1.05);
}

h1 {
	color: var(--contrast);
}

h2 {
	margin-left: 20px;
	cursor: pointer;
}

h2:hover {
	color: var(--contrast);
}

h3 {
	color: var(--contrast);
	margin: 15px;
}

p {
	margin: 0 20px;
	margin-top: 30px;
}

i {
	color: var(--contrast);
}

span {
	font-size: 2em;
	margin-left: 10px;
	width: 20px;
	color: var(--contrast);
	cursor: pointer;
}

svg {
	width: 40px;
	height: 40px;
	margin-left: 20px;
	transition: transform 100ms;
}

svg:hover {
	transform: scale(1.1);
}

footer {
	display: flex;
	align-items: center;
	margin-top: 20px;
	margin-left: 20px;
}

footer > p {
	margin: 0;
}
