main {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	width: 100%;
}

#imgs {
	display: flex;
	margin: 15px;
}

#container {
	grid-column: 2;
}

.img-container {
	display: flex;
	flex-direction: column;
}

img {
	width: 200px;
	height: 300px;
}

.img-container > p {
	padding: 15px;
	font-size: 0.8em;
	cursor: pointer;
}

.img-container > p:hover {
	transform: scale(1.2);
}

h2 {
	margin: 15px;
	cursor: pointer;
}

h2:hover {
	transform: scale(1.1);
}

h3 {
	margin: 15px;
}

p {
	margin: 15px;
}
