* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Metrophobic", sans-serif;
	color: var(--text);
}

:root {
	--background: rgb(31, 31, 31);
	--section: rgb(24, 24, 24);
	--card-background: #363636;
	--text: #fffff8;
	--contrast: #eb5e28;
}

html,
body {
	background-color: var(--background);
	height: 100%;
}
